@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
}
header{
    width: 100%;
    padding: 0.78rem;
    border-bottom: 1px solid #eaeaea;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li:nth-child(1){
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            
        }
        li:nth-child(2){
            width: 40%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.5rem;
        }
        li:nth-child(3){
            display: flex;
            justify-content: space-around;
            text-align: center;
            div{
            margin: 0 auto;
            
                display: flex;
                flex-direction:column;
                    color: #999;
                    justify-content: space-between; 
                span{
                    padding: 0.25rem;                
                    display: block;
                    color: #999;
                    font-size:1.4rem; 
                }
            }

        }
    }
}
#banner{
    width: 100%;
    img{
        width: 100%;
    }
}
.div_a{
    width: 100%;
    padding: 0.5rem;
    padding-bottom:1.5rem; 
    P:nth-child(1){
        width: 100%;
        margin: 0 auto;
        padding: 0.5rem;
        background: #f4f4f4;
        border-radius: 5px;
        letter-spacing: 5px;
        font-size: 1rem;
        color: #000;  
    }
    P:nth-child(2){
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    .tim{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: #999;
        padding-bottom: 0.75rem;
    border-bottom: 1px solid #eaeaea;
        
        span{
            font-size: 1.2rem;
            padding-left: 1rem;
        }
    }
    .ul_a{
        width: 100%;
        padding: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        li{
            font-size: 1rem;
            border:1px solid #eaeaea;
            padding: 5px;
            border-radius: 40px;
            margin: 0.4rem 0.4rem;
            color: #999;
            line-height: 1.8rem;
        }
    }
    .ptex{
        font-size: 0.95rem;
        color: #666;
    }
    .im{
        width: 100%;
        text-align: center;
        padding: 1.25rem 0 2.1rem 0;
        img{
            width: 80%;
        }
    }
    button{
        width: 100%;
        color: #39c894;
        border: 1px solid #39c894;
        background: white;
        height: 2.95rem;
        border-radius: 10px;
        font-size: 1.5rem;
    }
    .ul_b{
        width: 100%;
        display: flex;
        padding: 1.5rem;
        li{
            width: 50%;
            text-align: center;
            font-size: 1rem;
            color: #1b9af7;
            div{
                border: 2px solid #1b9af7;
                width: 4.3rem;
                height: 4.3rem;
                text-align: center;
                line-height: 4.3rem;
                border-radius: 100%;
                margin: 1rem auto;
                .span_a{
                    color: #1b9af7;
                    font-size: 2.5rem;
                    
                }
                .span_b{
                    color: #feb505;
                    font-size: 2.5rem;
                }
            }
            .y2{
                border: 2px solid #feb505;
                
            }
        }
    }
    
}
.nUll{
    width: 100%;
    height: 0.7rem;
    background: #eaeaea;
}
.lv{
    width: 100%;
    display: flex;
    padding: 1.3rem;
    div{
        width: 0.2rem;
        height: 1.8rem;
        background: #2bb280;
    }
    span{
        font-size: 1.5rem ;
        color: #000;
        letter-spacing: 2px;
        
    }
}
.zx{
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        padding: 1rem 0.9rem;
        border-bottom: 1px solid #eaeaea;
        li:nth-child(1){
            width:40%;
            img{
                width: 100%;
            }
        }
        li:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 0.9rem;
            p:nth-child(1){
                font-size: 1.5rem;
                color: #000;
                line-height: 2.8rem;
            }
            p:nth-child(2){
                font-size: 1.2rem;
                color: #999;
                span:nth-child(2){
                    margin-left: 1rem;
                }
            }
        }
    }
}
#tex{
    width: 100%;
    padding: 1.5rem 0.78rem;
    p{
        font-size: 1.2rem;
        text-indent: 20px;
        color: #333;
        letter-spacing: 2px;
        line-height:2rem; 
    }
}
.nUll{
    width: 100%;
    height: 0.7rem;
    background: #eaeaea;
}
#fw{
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 0 0;
    p{
    font-size: 1.2rem;
        span{
            font-size: 1.39rem;
            color: #39C893;
        }
    }
    ul{
        padding: 1.5rem 0 0 0;
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
    }
 
}
#gd{
    background: white;
    position: fixed;
    bottom: 10rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid #dedede;
    line-height: 4rem;
    text-align: center;
    border-radius: 100%;
    span{
        font-size: 1.7rem;
        color: #9c9c9c;
    }
}
footer{
    width: 100%;
    height: 4.55rem;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    div:nth-child(1){
        width: 5%;
        height: 100%;
        div{
            width: 1.5rem;
            height: 1.5rem;
            border-bottom-right-radius:100%;
            background: #2bb280; 
        }
        
        span{
            font-size: 1rem;
            color: white;
        }
    }
    div:nth-child(2){
       width: 65% ;
       height: 100%;
       padding: 0.5rem;
       img{
           width: 100%;
           height: 100%;
       }
    }
    div:nth-child(3){
        width: 30%;
        height: 100%;
        line-height:4rem; 
        text-align: center;
        button{
            width: 7.55rem;
            height: 2.1rem;
            border: none;
            background: #feb605;
            line-height: 2.1rem;
            border-radius: 30px;
            font-size: 1rem;
            color: white;
        }
    }
}
.sum{
    width: 90%;
    height: 50%;
    background:rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 25%;
    border-radius:10px; 
    text-align: center;
    ul{
        margin: 3.4rem 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        li{
            width:25%;
            text-align: center;
            color: white;
            font-size: 1.5rem;
            img{
                width: 80%;
                
            }
        }
    }
    button{
        width: 90%;
        background: #fff;
        border: none;
        height: 3.4rem;
        font-size: 1.5rem;
        border-radius: 10px;        
    }
}