* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  width: 100%;
  font-size: 62.5%;
}

header {
  width: 100%;
  padding: 1.125rem;
  display: flex;
  justify-content: space-between;
}

header #logo {
  width: 30%;
}

header #logo img {
  width: 100%;
}

header #user {
  display: flex;
  font-size: 1.375rem;
  color: #999;
}

header #user p:nth-child(1) span {
  color: #999;
  font-size: 2.8125rem;
}

header #user p:nth-child(2) {
  text-align: center;
}

header #user p:nth-child(2) span {
  display: block;
  color: #999;
  font-size: 2.0625rem;
  padding: 0.4rem;
}

.banner_a {
  width: 100%;
  margin-top: -3px;
}

.banner_a img {
  width: 100%;
}

.banner_b {
  width: 100%;
  margin-top: -3px;
  position: relative;
}

.banner_b img {
  width: 100%;
}

.banner_b .p1 {
  position: absolute;
  top: 3rem;
  left: 7rem;
  font-size: 36px;
  color: #ff4351;
}

.banner_b .p2 {
  position: absolute;
  top: 13rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_b .p3 {
  position: absolute;
  top: 24rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_b .p4 {
  position: absolute;
  bottom: 21.5rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_b .p5 {
  position: absolute;
  bottom: 11rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_c {
  width: 100%;
  margin-top: -3px;
  position: relative;
}

.banner_c img {
  width: 100%;
}

.banner_c .p1 {
  position: absolute;
  top: 3.5rem;
  right: 7.5rem;
  font-size: 36px;
  color: #1A9CF7;
}

.banner_c .p2 {
  position: absolute;
  top: 14rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_c .p3 {
  position: absolute;
  top: 25rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_c .p4 {
  position: absolute;
  bottom: 23rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_c .p5 {
  position: absolute;
  bottom: 12rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_d {
  width: 100%;
  margin-top: -3px;
  position: relative;
}

.banner_d img {
  width: 100%;
}

.banner_d .p1 {
  position: absolute;
  top: 3rem;
  left: 7rem;
  font-size: 36px;
  color: #7A73E8;
}

.banner_d .p2 {
  position: absolute;
  top: 13rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_d .p3 {
  position: absolute;
  top: 24rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_d .p4 {
  position: absolute;
  bottom: 28rem;
  left: 13rem;
  font-size: 28px;
  color: #000;
}

.banner_d .p5 {
  position: absolute;
  bottom: 17.5rem;
  right: 13rem;
  font-size: 28px;
  color: #000;
}
